body {
    font-family: 'Sans Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #003366; /* Updated to dark blue background color */
    color: white; /* Set default text color to white */
}

header {
    background-color: #001a33; /* Slightly darker blue for the header */
    text-align: center;
    padding: 1em;
}

header h1 a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

header h1 a:hover {
    color: #66b3ff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #66b3ff;
}

nav a.active {
    color: #66b3ff;
}

#main-content {
    padding: 20px;
    background-color: #000; /* Set the inner content background to black */
}

footer {
    background-color: #001a33; /* Slightly darker blue for the footer */
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main-content h2 {
    color: #66b3ff; /* Light blue heading color for contrast */
}
